<!doctype html>
<html>
<head>
    <title>CSIoT</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link href="/static/css/my.css" rel="stylesheet">
    <script src="static/js/cytoscape.min.js"></script>
</head>
<body >


    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">CSIoT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Agent
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" data-toggle="modal" data-target="#newNodeModal" href="#">New Agent</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#uploadNodeModal" href="#">Upload Agent Data</a>
              <a class="dropdown-item" id="exportAgents" href="/exportData">Export Agent Data</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#clearModal" href="#">Clear All Data</a>

        </div>
</li>      
<li class="nav-item">
              <a class="nav-link" id="refreshGraph" href="#">Refresh</a>
</li>

<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Layout
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" id="layoutGraphCircle" href="#">Cricle</a>
              <a class="dropdown-item" id="layoutGraphGrid" href="#">Grid</a>
              <a class="dropdown-item" id="layoutGraphPredef" href="#">Preset X,Y Cordination</a>
              <a class="dropdown-item" id="layoutGraphRandom" href="#">Random</a>

        </div> </li>
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Simulation
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" data-toggle="modal" data-target="#simulationModal" href="#">Start Simulation</a>
	      <a class="dropdown-item" id="layoutGraphGrid" href="#">Simulate 1 Step</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#simulationLogModal" href="#">Simulation Log</a>

        </div> </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
  
 <div id="cy"></div>
 

    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted"></span>
      </div>
    </footer>



 <!-- Modal --> <div class="modal fade" id="newNodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Agent</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<form id="newAgent">
  <div class="form-group">
        <input type="text" class="form-control" name="agentName" id="agentName" placeholder="Agent Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="agentOwner" id="agentOwner" placeholder="Owner Name">
  </div>

  <div class="form-group row">
    <div class="col">
       <input type="text" class="form-control" name="agentBatch" id="agentBatch" placeholder="Batch Number">
    </div>
  <div class="col">
    <input type="text" class="form-control" name="agentFamily" id="agentFamily" placeholder="Family Member ID">
  </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <input type="text" class="form-control" name="agentX" id="agentX" placeholder="Cordinate X">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="agentY" id="agentY" placeholder="Cordinate Y">
    </div>
  </div>
  <div class="form-group">
    <textarea class="form-control" name="agentFriends" id="agentFriends" placeholder="Owner's Friend IDs (separated by dash)" rows="3"></textarea>
  </div>
  <div class="form-group">
    <textarea class="form-control" name="agentNeeds" id="agentNeeds" placeholder="Services Needed (separated by dash)" rows="3"></textarea>
  </div>
  <div class="form-group">
    <textarea class="form-control" name="agentOffers" id="agentOffers" placeholder="Services Offer (separated by dash)" rows="3"></textarea>
  </div>


</form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary" id="agentRandom">Random</button>
        <button type="button" class="btn btn-primary" id="agentNewSubmit">Save</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="uploadNodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Agent Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<form>

<div class="form-group">
    <label for="fileCSV">Data File (CSV format)</label>
    <input type="file" class="form-control-file" name="fileCSV" id="fileCSV" aria-describedby="fileCSV">
    <small id="fileCSV" class="form-text text-muted">Upload a valid CSV file starting with this line:<br/>agentName,agentOwner,agentBatch,agentFamily,agentX,agentY,agentFriends,agentNeeds,agentOffers</small>
  </div>


</form>
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="agentUploadSubmit">Upload</button>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="clearModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Clear All Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<p>Are you sure to erase all agents data?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" id="deleteAll">Yes, purge them all</button>

      </div>
    </div>
  </div>
</div>

    <script src="static/js/index.js"></script>
</body>
</html>
