
{% include 'modals/agentsModal.html' %}
{% include 'modals/deleteNodeModal.html' %}  
{% include 'modals/devicesModal.html' %}   
{% include 'modals/newDevice.html' %}     
{% include 'modals/ownersModal.html' %}         
{% include 'modals/simulationModal.html' %}
{% include 'modals/clearModal.html' %}   
{% include 'modals/detailNodeModal.html' %}  
{% include 'modals/editNodeModal.html' %}  
{% include 'modals/newNodeModal.html' %}  
{% include 'modals/simulationLogModal.html' %}  
{% include 'modals/uploadNodeModal.html' %}

