      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">CSIoT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">

<!---      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Data
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" data-toggle="modal" data-target="#devicesModal" href="#">Manage Devices</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#ownersModal" href="#">Manage Owners</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#agentsModal" href="#">Manage Agents</a>
        </div>
</li>--->


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Agents
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" data-toggle="modal" data-target="#newNodeModal" href="#"><span class="oi oi-plus"></span> New Agent</a>
<!--              <a class="dropdown-item" data-toggle="modal" data-target="#uploadNodeModal" href="#">Upload Agent Data</a>
              <a class="dropdown-item" id="exportAgents" href="/exportData">Export Agent Data</a>
-->
              <a class="dropdown-item" data-toggle="modal" data-target="#clearModal" href="#"><span class="oi oi-trash"></span> Clear All Data</a>

        </div>
</li>
<!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Graph
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" id="layoutGraphCircle" href="#">Layout: Cricle</a>
              <a class="dropdown-item" id="layoutGraphGrid" href="#">Layout: Grid</a>
              <a class="dropdown-item" id="layoutGraphPredef" href="#">Layout: Preset X,Y Cordination</a>
              <a class="dropdown-item" id="layoutGraphRandom" href="#">Layout: Random</a>

        </div> </li>
-->
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Simulation
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" id="refreshGraph" href="#"><span class="oi oi-reload"></span> Redraw Graph</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#simulationModal" href="#"><span class="oi oi-media-skip-forward"></span> Start Simulation</a>
              <a class="dropdown-item" href="#" id="stepBackward"><span class="oi oi-media-step-backward"></span> Step Backward</a>
              <a class="dropdown-item" href="#" id="stepForward"><span class="oi oi-media-step-forward"></span> Step Forward</a>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target=""><span class="oi oi-list"></span> Last Step Logs</a>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#simulationLogModal"><span class="oi oi-spreadsheet"></span> Logs</a>

        </div> </li>
     


          </ul>
  <span class="navbar-text mr-sm-2">
    Timestamp: 
	<span class="badge badge-secondary" id="ts_requested">0</span> /
	<span class="badge badge-secondary" id="ts_real">100</span>
  </span>

<!-- icons from: https://useiconic.com/open/ //-->
      <button class="btn btn-outline-secondary btn-sm mr-sm-2" data-toggle="modal" data-target="#newNodeModal" data-toggle="tooltip" data-placement="bottom" title="New Agent">
				<span class="oi oi-plus"></span></button>
      <button class="btn btn-outline-secondary btn-sm mr-sm-2" id="refreshGraph2" data-toggle="tooltip" data-placement="bottom" title="Reload Graph">
				<span class="oi oi-reload"></span></button>
      <button class="btn btn-outline-secondary btn-sm mr-sm-2" id="stepBackward2" data-toggle="tooltip" data-placement="bottom" title="Step Backward">
				<span class="oi oi-media-step-backward"></span></button>
      <button class="btn btn-outline-secondary btn-sm mr-sm-2" data-toggle="modal" data-target="#simulationLogModal" data-toggle="tooltip" data-placement="bottom" title="Last step logs">
				<span class="oi oi-list"></span></button>
      <button class="btn btn-outline-secondary btn-sm mr-sm-2" id="stepForward2" data-toggle="tooltip" data-placement="bottom" title="Step Forward">
				<span class="oi oi-media-step-forward"></span></button>
        </div>
      </nav>

