<div class="modal fade" id="newDevice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scroll" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Device</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-scroll">

<form>

  <div class="form-group">
    <label>Batch Id</label>
        <input type="text" class="form-control" name="agentName" id="agentName">
  </div>
  <div class="form-group">
    <label>Procuder</label>
        <input type="text" class="form-control" name="agentName" id="agentName">
  </div>
  <div class="form-group">
    <label>Year</label>
        <input type="text" class="form-control" name="agentName" id="agentName">
  </div>
  <div class="form-group">
    <label>Locality</label>
        <input type="text" class="form-control" name="agentName" id="agentName">
  </div>
  <div class="form-group">
    <label>Services Needed (separated by dash)</label>
    <textarea class="form-control" name="agentFriendsH" id="agentFriendsH" rows="2"></textarea>
  </div>
  <div class="form-group">
    <label>Services Offered (separated by dash)</label>
    <textarea class="form-control" name="agentFriendsH" id="agentFriendsH" rows="2"></textarea>
  </div>

</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-toggle="modal" href="#newDevice">Add</button>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
