<div class="modal fade" id="uploadNodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Agent Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<form id="uploading">

<div class="form-group">
    <label for="fileCSV">Data File (CSV format)</label>
    <input type="file" class="form-control-file" name="fileCSV" id="fileCSV" aria-describedby="fileCSV">
    <small id="fileCSV" class="form-text text-muted">Upload a valid CSV file starting with this line:<br/>agentName,agentOwner,agentBatch,agentFamily,agentX,agentY,agentFriends,agentNeeds,agentOffers</small>
  </div>


</form>
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="agentUploadSubmit">Upload</button>

      </div>
    </div>
  </div>
</div>

