/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}


.navbar-username{
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  padding-right: 1rem;
}

.form-row{
  display: flex;
}

.from-row-button{
  margin-left: 1rem;
}

.jumbotron-dark {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: #e7e7e7;
  border-radius: .3rem;
}

.center-text{
  text-align: center;
}

.space-shop {
  margin-top: 3rem;
}

.jumbotron-shop {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  border-width: 10px;
  border-color: #000;
  border-radius: 5.3rem;
  border-style: dotted;
  min-height: 400px;
}

.jumbotron-sold { 
  position:relative;
  overflow:hidden;
  border-style: double;
}

.sold_out {
  top: 2em;
  left: -4em;
  color: #fff;
  display: block;
  position:absolute;
  text-align: center;
  text-decoration: none;
  letter-spacing: .06em;
  background-color: #A00;
  padding: 0.5em 5em 0.4em 5em;
  text-shadow: 0 0 0.75em #444;
  box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
  font: bold 16px/1.2em Arial, Sans-Serif;
  -webkit-text-shadow: 0 0 0.75em #444;
  -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
  -webkit-transform: rotate(-45deg) scale(0.75,1);
  z-index:10;
}
.sold_out:before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: -0.3em -5em;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  border: 2px rgba(255,255,255,0.7) dashed;
}

.sold_out_text{
  text-decoration: line-through;
}

.flag-warning{
  padding: 1rem .75rem;
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  border-radius: .3rem;
  margin-top: 3.5rem;
  color: #111;
  background-color: #ffc107;
  border-color: #ffc107;
  vertical-align: middle;
}

.flag-secondary{
  padding: 1rem .75rem;
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  border-radius: .3rem;
  margin-top: 3.5rem;
  color: #fff;
  background-color: #868e96;
  border-color: #868e96;
  vertical-align: middle;
}

.flag-danger{
  padding: 1rem .75rem;
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  border-radius: .3rem;
  margin-top: 3.5rem;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  vertical-align: middle;
}



/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
